* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.skills-container {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.array-end {
  display: flex;
  justify-content: left;
  margin: 0px 20px 0px;
}

.skills-title {
  font-size: 65px;
  letter-spacing: 30px;
  font-family: "Open Sans Condensed", sans-serif;
  color: rgb(69, 68, 68);
  margin: 10px;
}

.skills {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 40vh;
  width: 40vh;
  background-color: #f7f7f7;
}

.skills:hover {
  background-color: white;
}

@media screen and (max-width: 1224px) {
  .skills-container {
    flex-wrap: wrap;
  }
}

#html {
  position: relative;
  display: block;
  color: #e44d26;
  font-size: 300px;
  margin: 20px;
}

#css {
  position: relative;
  display: block;
  color: #264de4;
  font-size: 300px;
  margin: 20px;
}

#js {
  position: relative;
  display: block;
  color: #f0db4f;
  font-size: 300px;
  margin: 20px;
}

#react {
  position: relative;
  display: block;
  color: #61dbfb;
  font-size: 300px;
  margin: 20px;
}

.skills:after {
  position: absolute;
  content: "";
  height: 40vh;
  width: 10vh;
  border-bottom: solid 3px grey;
  transition: 0.5s ease-in;
  opacity: 0;
}

.skills:hover:after {
  opacity: 1;
  width: 40vh;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Open Sans Condensed", sans-serif;
  border-bottom: 1px solid grey;
  margin: 0% 3% 0%;
}

.img {
  width: 350px;
  height: 70px;
  margin-top: 7px;
  margin-left: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-top: 40px;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 23px;
}

.burger div {
  width: 35px;
  height: 3px;
  background-color: #555555;
  margin: 5px;
}

.burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  -ms-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  -ms-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

.footer {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: white;
  margin-top: 65px;
}

.footer-text {
  margin: 20px;
}

